.App {
  text-align: center;
 
  
}

.rodape{
  text-align: left;
  background-color: rgb(136, 134, 171);

  border-color: rgb(0, 0, 0);
  

}
.corpo{
  background-size: 20px;
  height: max-content;
  width: auto;


  
  
  
}
.cabecalho{
  height: 25px;
  background-color: rgb(179, 179, 179);
}