.App {
  text-align: center;
 
  
}

.rodape {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: left;
  background-color: rgba(10, 124, 231, 0.943);
  color: aliceblue;
}
.corpo{
  background-size: 20px;
  height: max-content;
  width: auto;

}
.cabecalho{
  height: 25px;
  background-color: rgb(179, 179, 179);
}