.direita {
  position: absolute;
  right: 0;
}

.esquerda {
  display: flex;

}

.centro {
  margin-top: 20px;
  text-align: center;
}

.centrodados {
  margin-top: 20px;
  text-align: center;

}

.filtro{
  text-align: center;
  font-size: xx-large;
  font-family: Georgia, 'Times New Roman', Times, serif, Impact, 'Arial Narrow Bold', sans-serif;
}

.meio{
  
  
}